@media screen and (width: 320px) {
  html {
    font-size: calc(320px / 20);
  }
}
@media screen and (width: 375px) {
  html {
    font-size: calc(375px / 20);
  }
}
@media screen and (width: 414px) {
  html {
    font-size: calc(414px / 20);
  }
}
html,
body {
  max-width: 640px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(40rem / 16);
  width: 100%;
  line-height: calc(38rem / 16);
  background: linear-gradient(
    to bottom,
    rgba(50, 42, 39, 1),
    rgba(50, 42, 39, 0)
  );
}
.logo img {
  height: calc(17rem / 16);
  margin-left: calc(10rem / 16);
}
.one {
  height: calc(187rem / 16);
  margin-top: calc(10rem / 16);
}
.one img {
  height: 100%;
  width: 100%;
}
.two {
  height: calc(153rem / 16);
}
.two img {
  height: 100%;
  width: 100%;
}
.three {
  height: calc(115rem / 16);
}
.three img {
  height: 100%;
  width: 100%;
}
.four {
  height: calc(209rem / 16);
}
.four img {
  height: 100%;
  width: 100%;
}
.five {
  height: calc(115rem / 16);
}
.five img {
  height: 100%;
  width: 100%;
}
.know {
  height: calc(21rem / 16);
  line-height: calc(21rem / 16);
  text-align: center;
}
.know a:first-child {
  color: #65bafd;
  font-size: calc(16rem / 16);
  margin-right: calc(8rem / 16);
}
.know a:last-child {
  font-size: calc(16rem / 16);
  color: #666666;
}
.six {
  height: calc(209rem / 16);
}
.six img {
  height: 100%;
  width: 100%;
}
/* 底部 footer */
.footer {
  height: calc(82rem / 16);
  text-align: center;
  border-top: 1px solid #e2e2e2;
  margin-top: calc(10rem / 16);

  padding-top: calc(10rem / 16);
}
.footer div {
  /* height: calc(120rem / 16); */
  margin-top: calc(9rem / 16);
  margin-left: calc(10rem / 16);
  font-size: calc(10rem / 16);
  color: #333333;
}
.footer div a {
  font-size: calc(10rem / 16);
  color: #333333;
}
