@media screen and (width: 320px) {
  html {
    font-size: calc(320px / 20);
  }
}
@media screen and (width: 375px) {
  html {
    font-size: calc(375px / 20);
  }
}
@media screen and (width: 414px) {
  html {
    font-size: calc(414px / 20);
  }
}
body {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  /* overflow: hidden; */
}
/* 1 头部 */
header {
  height: calc(38rem / 16);
  width: 100%;
  line-height: calc(38rem / 16);
  overflow: hidden;
}
.header-logo img {
  height: calc(18rem / 16);
  margin-left: calc(8rem / 16);
}
.header-ipv {
  height: calc(16rem / 16);
}
header span {
  font-size: calc(10rem / 16);
  color: #000000;
  margin-left: calc(14rem / 16);
}
.header-logo {
}
.header-more {
  float: right;
  height: calc(11rem / 16);
  margin-top: calc(16rem / 16);
  margin-right: calc(12rem / 16);
}
/* 2 登录 login */
.login {
  height: calc(30rem / 16);
}
.login span {
  line-height: calc(30rem / 16);
  margin-left: calc(12rem / 16);
}
.login a {
  color: #0085d0;
  margin-left: calc(5rem / 16);
}
.car {
  height: calc(120rem / 16);
}
.car img {
  height: 100%;
  width: 100%;
}
/* 4 业务 bus */
.bus {
  height: calc(140rem / 16);
}
.bus li {
  float: left;
  /* height: calc(48rem / 16); */
  width: 25%;
  text-align: center;
  margin-top: calc(12rem / 16);
}
.bus li img {
  height: calc(34rem / 16);
  width: calc(34rem / 16);
}
.bus li p {
  margin-top: calc(4rem / 16);
  color: #666666;
  font-size: calc(8rem / 16);
}
/* 5 广告 ad */
.ad {
  height: calc(85rem / 16);
  border-bottom: 1px solid #e7e7e7;
}
.ad img {
  height: 100%;
  width: 100%;
}
/* 6 热门推荐 hot*/
.hot {
  height: calc(188rem / 16);
}
.hot-title {
  font-size: calc(14rem / 16);
  height: calc(39rem / 16);
  line-height: calc(39rem / 16);
  /* text-align: center; */
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 4px solid #ff04bd;
  box-sizing: border-box;
  margin-top: calc(10rem / 16);
}
.hot-title a {
  color: #000000;
  margin-left: calc(8rem / 16);
}
.hot ul {
  height: calc(147rem / 16);
  /* width: calc(320rem / 16); */
}
.hot li {
  float: left;
  width: 50%;
  border-bottom: 1px solid #e7e7e7;
  height: calc(73rem / 16);
  box-sizing: border-box;
}
.hot li:first-child {
  height: calc(146rem / 16);
  border-right: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.hot img {
  height: 100%;
  width: 100%;
}
/* 7 办套餐 set */
.set {
  height: calc(150rem / 16);
}
.set-title {
  font-size: calc(14rem / 16);
  height: calc(39rem / 16);
  line-height: calc(39rem / 16);
  /* text-align: center; */
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 4px solid #ffea00;
  box-sizing: border-box;
  margin-top: calc(10rem / 16);
}
.set-title a {
  color: #000000;
  margin-left: calc(8rem / 16);
}
.set ul {
  height: calc(108rem / 16);
  /* width: calc(320rem / 16); */
}
.set li {
  float: left;
  width: 50%;
  border-bottom: 1px solid #e7e7e7;

}
.set li:first-child {
  border-right: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.set img {
  float: right;
  height: calc(68rem / 16);
}
.set li h2 {
  margin-top: calc(10rem / 16);
  margin-left: calc(8rem / 16);
  font-size: calc(12rem / 16);
  font-weight: normal;
  color: #333333;
}
.set li p {
  margin-top: calc(6rem / 16);
  margin-left: calc(8rem / 16);
  font-size: calc(10rem / 16);
  color: #727272;
}
/* 8 买手机 phone */
.phone {
  height: calc(180rem / 16);
}
.phone-title {
  font-size: calc(14rem / 16);
  height: calc(39rem / 16);
  line-height: calc(39rem / 16);
  /* text-align: center; */
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 4px solid #46c900;
  box-sizing: border-box;
  margin-top: calc(10rem / 16);
}
.phone-title a {
  color: #000000;
  margin-left: calc(8rem / 16);
}
.phone ul {
  height: calc(144rem / 16);
  overflow: hidden;
}
.phone li {
  float: left;
  width: 50%;
  border-bottom: 1px solid #e7e7e7;

}
.phone li:nth-child(2n+1){
  border-right: 1px solid #e7e7e7;
box-sizing: border-box;
}
.phone-left {
  float: left;
  margin-left: calc(4rem / 16);
  width: 50%;
  margin-top: calc(10rem / 16);
}
.phone img {
  float: right;
  height: calc(68rem / 16);
  /* margin-top: calc(12rem / 16); */
}
.phone li h2 {
  margin-left: calc(4rem / 16);
  font-size: calc(12rem / 16);
  font-weight: normal;
  color: #333333;
}
.phone li h3 {
  margin-left: calc(4rem / 16);
  font-size: calc(12rem / 16);
  font-weight: normal;
  color: #e40077;
  margin-top: calc(4rem / 16);

}
.phone li p {
  margin-top: calc(4rem / 16);
  margin-left: calc(4rem / 16);
  font-size: calc(10rem / 16);
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 9 业务推荐 yewu */
.yewu {
  height: calc(114rem / 16);
}
.yewu-title {
  font-size: calc(14rem / 16);
  height: calc(39rem / 16);
  line-height: calc(39rem / 16);
  /* text-align: center; */
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 4px solid #0167c9;
  box-sizing: border-box;
  margin-top: calc(10rem / 16);
}
.yewu-title a {
  color: #000000;
  margin-left: calc(8rem / 16);
}
.yewu ul {
  height: calc(72rem / 16);
  overflow: hidden;
}
.yewu li {
  float: left;
  width: 50%;
  height: 100%;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.yewu-left {
  float: left;
  /* margin-left: calc(4rem / 16); */
  width: calc(98rem / 16);
  margin-top: calc(10rem / 16);
}
.yewu img {
  float: right;
  height: calc(38rem / 16);
  margin-top: calc(12rem / 16);
}
.yewu li h2 {
  margin-top: calc(10rem / 16);
  margin-left: calc(10rem / 16);
  font-size: calc(12rem / 16);
  font-weight: normal;
  color: #333333;
}
.yewu li p {
  margin-top: calc(4rem / 16);
  margin-left: calc(10rem / 16);
  font-size: calc(10rem / 16);
  color: #999999;
}
.yewu-more {
  height: calc(38rem / 16);
  line-height: calc(38rem / 16);
  text-align: center;
  /* ma */
}
.yewu-more a {
  font-size: calc(14rem / 16);
  color: #343434;
}
/* 10 选号码 tel */
.tel {
  height: calc(135rem / 16);
}
.tel-title {
  font-size: calc(14rem / 16);
  height: calc(39rem / 16);
  line-height: calc(39rem / 16);
  /* text-align: center; */
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 4px solid #9e00b9;
  box-sizing: border-box;
  margin-top: calc(10rem / 16);
}
.tel-title a {
  color: #000000;
  margin-left: calc(8rem / 16);
}
.tel ul {
  height: calc(96rem / 16);
}
.tel li {
  float: left;
  width: 50%; 
  height: 100%; 
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.tel img {
height: 100%;
width: 100%;
}
/*  11 全家享 home */
.home {
  height: calc(145rem / 16);
}
.home-title {
  font-size: calc(14rem / 16);
  height: calc(39rem / 16);
  line-height: calc(39rem / 16);
  /* text-align: center; */
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 4px solid #46c801;
  box-sizing: border-box;
  margin-top: calc(10rem / 16);
}
.home-title a {
  color: #000000;
  margin-left: calc(8rem / 16);
}
.home ul {
  height: calc(104rem / 16);
}
.home li {
  float: left;
  width: 50%;
  /* height: calc(72rem / 16); */
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.home li:first-child{
  border-right: 1px solid #e7e7e7;

}
.home li img {
  float: right;
  height: calc(68rem / 16);
  /* margin-top: calc(10rem / 16); */
}
.home li h2 {
  margin-top: calc(10rem / 16);
  margin-left: calc(10rem / 16);
  font-size: calc(12rem / 16);
  font-weight: normal;
  color: #333333;
}
.home li p {
  margin-top: calc(4rem / 16);
  margin-left: calc(10rem / 16);
  font-size: calc(10rem / 16);
  color: #999999;
}

/*  12 挑配件 peijian */
.peijian {
  height: calc(210rem / 16);
}
.peijian-title {
  font-size: calc(14rem / 16);
  height: calc(39rem / 16);
  line-height: calc(39rem / 16);
  /* text-align: center; */
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 4px solid #ff9e02;
  box-sizing: border-box;
  margin-top: calc(10rem / 16);
}
.peijian-title a {
  color: #000000;
  margin-left: calc(8rem / 16);
}
.peijian ul {
  height: calc(170rem / 16);
}
.peijian li {
  float: left;
  width: 50%;
  /* height: calc(72rem / 16); */
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;

}
.peijian li img {
  float: right;
  height: calc(110rem / 16);
  /* margin-top: calc(10rem / 16); */
}
.peijian li h2 {
  margin-top: calc(10rem / 16);
  margin-left: calc(10rem / 16);
  font-size: calc(12rem / 16);
  font-weight: normal;
  color: #333333;
}
.peijian li p {
  margin-top: calc(4rem / 16);
  margin-left: calc(10rem / 16);
  font-size: calc(10rem / 16);
  color: #999999;
}
.peijian li h3 {
  margin-left: calc(10rem / 16);
  font-size: calc(12rem / 16);
  font-weight: normal;
  color: #e40077;
  margin-top: calc(4rem / 16);

}
/* 12 底部 footer */
.footer {
  height: calc(120rem / 16);
  text-align: center;
  border-top: 1px solid #e2e2e2;
  margin-top: calc(10rem / 16);

  padding-top: calc(10rem / 16);
}
.footer div {
  /* height: calc(120rem / 16); */
  margin-top: calc(9rem / 16);
  margin-left: calc(10rem / 16);
  font-size: calc(10rem / 16);
  color: #333333;
}
.footer div a {
  font-size: calc(10rem / 16);
  color: #333333;
}

/* 13 导航 nav */
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: calc(40rem / 16);
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #e2e2e2;
  box-sizing: border-box;
}
.nav li {
  float: left;
  width: 25%;
  text-align: center;
}
.nav li img {
  height: calc(21rem / 16);
  margin-top: calc(2rem / 16);
}
.nav li p {
  margin-top: calc(2rem / 16);
  /* margin-left: calc(10rem / 16); */
  font-size: calc(10rem / 16);
  color: #999999;
}
